* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  width: 500px;
  height: 100%;
  margin: 30px auto;
  box-shadow: 5px 5px 5px 5px rgb(116, 116, 116);
  padding: 30px;
}

.title { 
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}

.form { 
  display: flex;
  justify-content: center;
}

.form__search { 
  border: none;
  border-bottom: 1px solid blue;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-right: 30px;
}

.form__button { 
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 700;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transition: all ease 1s;
  box-shadow: 5px 5px 5px 5px rgb(116, 116, 116);
}

.form__button:hover {
  background-color: rgb(51, 163, 163);
  color: white;
  // border: 1px solid rgb(51, 163, 163);
}

.form__button:active {
  background-color: rgb(255, 255, 255);
  // border: 1px solid rgb(255, 255, 255);
  box-shadow: 2px 2px 2px rgb(116, 116, 116);
  color: rgb(97, 177, 23);
  transition: all ease 0.5s;
}

.result { 
  color: #000;
  text-align: center;
}

.text {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 30px 5px 5px 5px;
}

// Calculator
.tabs { 
  width: 320px;
  height: 115px;
  margin: 0 auto;
}

.tabs-item {
  width: 500px;
  height: 100%;
  margin: 30px auto;
  box-shadow: 5px 5px 5px 5px rgb(116, 116, 116);
  padding: 30px;
  display: flex;
}

.conteiner-tabs { 
  width: 100%;
  height: 100%;
  margin-top: 100px;
  padding: 30px 15px;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}

.tabs-nav { 
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.tabs-nav__item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

.tabs-nav__link {
  text-decoration: none;
  color:  #000000;
  padding: 0 10px 10px 10px;
}

.tabs-nav .tabs-nav__link.active{
  border-bottom: 1px solid blue;
  color: blue;
}  

.input { 
  width: 100%;
  border: none;
  border-bottom: 1px solid blue;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-right: 30px;
  text-align: center;
}

.container-result {
  width: 300px;
  height: 100%;
  margin: 30px auto;
  box-shadow: 5px 5px 5px 5px rgb(116, 116, 116);
  padding-bottom: 30px;
}

.operators {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-right: 30px;
}

.center {
  display: flex;
  justify-content: center;
}

.size-icon {
  font-size: 12px;
}

.operators-percent {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-right: 30px;
  margin-left: -50px;
}

.button { 
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 700;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transition: all ease 1s;
  box-shadow: 4px 4px 4px 4px rgb(116, 116, 116);
}

.button:hover {
  background-color: rgb(51, 163, 163);
  color: white;
}

.button:active {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px rgb(116, 116, 116);
  color: rgb(97, 177, 23);
  transition: all ease 0.5s;
}

// List string
.output {
  width: 300px;
  margin: 30px auto;
}

.outpu__conteiner {
  width: 320px;
  margin: auto;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid rgb(43, 255, 0);
}
.input-search{
  width: 200px;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid blue;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-right: 10px;
  text-align: center;
}

.list {
  margin: 30px 0 30px 13px;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  list-style-type: decimal;
}

// Form - document
.form-doc { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 30px auto;
  height: 100%;
}

.form-doc__caption { 
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 5px;
}

.form-doc__item { 
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.form-doc__btn { 
  width: 120px;
  margin: 0 auto;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
  transition: all ease 1s;
  box-shadow: 5px 5px 5px 5px rgb(116, 116, 116);
  border: none;
}

.form-doc__btn:hover {
  background-color: rgb(97, 177, 23);
  color: white;
}

.form-doc__btn:active {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px rgb(116, 116, 116);
  color: rgb(97, 177, 23);
  transition: all ease 0.5s;
}

.document {
  width:100%;
  padding: 30px 15px;
  margin: 30px auto;
}

.document__title {
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}

.document__text {
  width: 300px;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 5px 5px 5px;
}

.form-doc__item--about {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

// Fuel
.form-docs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 30px auto;
  height: 100%;
}

@media screen and (max-width: 570px) {
  // Learn
  .container {
    width: 300px;
    height: 100%;
    margin: 30px auto;
  }

  .form { 
    flex-direction: column;
  }

  .form__button { 
    width: 90%;
    margin-top: 30px;
  }

  .text {
    padding: 30px 57px 5px 0px;
  }
  

  // Calculet
  .tabs-nav { 
    padding-top: 30px;
    flex-wrap: wrap;
  }

  .tabs-item {
    width: 100%;
    margin: 60px auto;
  }

  .tabs-nav__item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
  }

  .input { 
    width: 100%;
  }

  .operators-percent {
    padding-right: 30px;
    margin-left: 30px;
  }

  .cen-md {
    display: flex;
    flex-direction: column;
  }

  .cen {
    margin-bottom: 15px;
  }

  // Form-doc
  .form-doc { 
    width: 100%;
  }

  // Fuel
  .form-docs {
    width: 100%;
  }
}