* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  background: url(/images/beng.jpg) center center no-repeat;
}

.qustion {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  margin-top: 18%;
  padding-bottom: 30px;
  box-shadow: 0 0 10px black;
}

.title {
  font-size: 24px;
  color: white;
  text-shadow: 0 0 10px black;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15%;
}

.form__input { 
  width: 200px;
  margin: 0 auto;
  margin-bottom: 5%;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(51, 51, 51);
  border: none;
  padding-left: 10px;
  transition: all 0.5s ease-in;
}

.form__input:focus {
  border: none;
  box-shadow: 0 0 20px rgb(0, 255, 0);
}

.form__input:active {
  border: none;
  box-shadow: 0 0 20px rgb(0, 255, 0);
}

.form__input:hover {
  border: none;
  box-shadow: 0 0 20px rgb(0, 255, 0);
}

.form__btn { 
  width: 140px;
  margin: 0 auto;
  color: white;
  text-shadow: 0 0 20px black;
  padding: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;

  background-color: rgba(177, 2, 2, 0);
  box-shadow: 0 0 10px black;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease-in;
}

.form__btn:hover { 
  text-shadow: 0 0 10px black;
  background-color: orange;
  box-shadow: 0 0 5px black;
}

.form__btn:active { 
  text-shadow: 0 0 10px black;
  background-color: rgb(47, 148, 0);
  box-shadow: 0 0 5px black;
  color: blue;
}

.answer {
  width: 30%;
  height: 100%;
  margin: 0 auto;
  font-size: 18px;
  color: white;
  text-shadow: 0 0 10px black;
  margin-top: 8%;
  margin-bottom: 5%;
  box-shadow: 0 0 10px black;
  padding: 10px;
}